<h1>Sample</h1>
<p>Paragraph</p>

<br />
A form with an array
<br />
<form action="/params" method="POST">
  1: <input id="name_1" name="name[]" type="text"></input>
  2: <input id="name_2" name="name[]" type="text"></input>
  3: <input id="name_3" name="name[]" type="text"></input>
  4: <input id="name_4" name="name[]" type="text"></input>
  <button>Submit</button>
</form>

<br />
A form with a nested hash
<br />
 <form action="/params" method="POST">
  1: <input id="name" name="bedevere[name]" type="text"></input>
  2: <input id="age" name="bedevere[age]" type="text"></input>
  3: <input id="number" name="bedevere[number]" type="text"></input>
  4: <input id="location" name="bedevere[location]" type="text"></input>
  <button>Submit</button>
</form>

<br />
A form with an array of hashes
<form action="/params" method="POST">
  Pirate 1 <br />
  Name: <input id="name_1" name="pirate[][name]" type="text"></input>
  Age : <input id="age_1" name="pirate[][age]" type="text"></input>
  <br />
  Pirate 2
  <br />
  Name: <input id="name_2" name="pirate[][name]" type="text"></input>
  Age : <input id="age_2" name="pirate[][age]" type="text"></input>
  <button>Submit</button>
</form>
